* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}


/* Тень от блока */
.ShadowBox {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* Диалоги */
.ModalButtonToolBar {
    display: flex;
    justify-content: center;
}

.ModalButtonToolBar button {
    font-weight: bold;
    border-style: none;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 13px;
}

.ModalButtonToolBar button:active {
    color: black;
}

.ModalButtonToolBar button:disabled {
    background-color: darkgrey;
    color: lightgray;
}

.ModalButtonToolBar button:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.ModalEditorToolBarButtonBlue {
    background-color: cornflowerblue;
}

.ModalEditorToolBarButtonRed {
    background-color: tomato;
}

