<script>
    function Table_ApplyFilter(filter = "") {
        filter = filter.toUpperCase();
        table = document.getElementById("DataTable");

        for (i = 1; i < table.rows.length; i++) {
            flag = false;

            for (j = 2; j < table.rows[i].cells.length; j++) {
                txt = table.rows[i].cells[j].innerHTML.toUpperCase();

                flag = txt.indexOf(filter) > -1;
                if (flag) break;
            }

            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }

    function WorkTable_ClearSelection() {
        table = document.getElementById("DataTable");
        for (i = 1; i < table.rows.length; i++) {
            table.rows[i].style.backgroundColor = "";
        }
    }

    function WorkTable_SelectLine(tr) {
        WorkTable_ClearSelection();
        tr.style.backgroundColor = "rgba(100, 149, 237, 0.7)";
    }

</script>


<link rel="stylesheet" href="css/Tables.css">


<style type="text/css">
    .RedHighlight {
        background-color: rgba(255, 0, 0, 0.1);
    }
</style>


<div class="TableWrapper">

    <div class="TableFrame ShadowBox">
        <table id="DataTable">
            <tr>
                <th hidden></th>
                <th width="30px">№</th>
                <th>Наименование контракта</th>
                <th width="150px">Дата заключения</th>
                <th width="150px">Дата подготовки</th>
                <th width="150px">Сумма контракта</th>
                <th>Заметка</th>
            </tr>


            <?php
            global $Data;

            $cntr = 0;
            foreach ($Data['Table'] as $item) {
                $cntr++;
                $DateFormat = "d-m-Y";
                $SignDate = date($DateFormat, strtotime($item['SignDate']));
                $PreparationDate = date($DateFormat, strtotime($item['PreparationDate']));

                echo "<tr ondblclick='EditContract(this)' onclick='SelectContract(this)'>";
                    echo "<td hidden>{$item['ID']}</td>";
                    echo "<td>{$cntr}</td>";
                    echo "<td>{$item['Title']}</td>";
                    echo "<td class='TableTDCentered'>{$SignDate}</td>";

                    $Highlight = ( (strtotime($item['PreparationDate']) - $Data['DaysToDisaster'] * 24 * 60 * 60) < time()) ? 'RedHighlight' : '';
                    echo "<td class='TableTDCentered {$Highlight}'>{$PreparationDate}</td>";

                    echo "<td class='TableTDRight'>{$item['ContractAmount']}</td>";
                    echo "<td>{$item['Commentary']}</td>";
                echo "</tr>";
                echo PHP_EOL;
            }

            ?>

        </table>  
    </div>  

</div>