<script>
    function Filter_Clear() {
        document.getElementById("FilterInput").value = "";
        ApplyFilter();
    }
</script>


<style type="text/css">
    .FilterWrapper {
        display: flex;
        justify-content: space-around;
    }

    .Filter {
        width: 650px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
    }    

    .FilterEdit {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 500px;
    }

    .FilterForm {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .FilterText {
        padding-right: 15px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 14px;
    }

    .FilterInput {
        width: 423px;
        font-size: 16px;
        padding: 2px 5px;
        border: 1px solid lightgray;
    }

    .FilterButtonClear {
        padding: 8px 20px;
        margin-left: 15px;
    }
</style>


<div class="FilterWrapper">
    <div class="Filter ShadowBox">
        <div class="FilterEdit">
            <form class="FilterForm" onsubmit="return false">
                <p class="FilterText">Фильтр</p>
                <input class="FilterInput" autocomplete="off" id="FilterInput" oninput="ApplyFilter(this.value)">
                <button class="FilterButtonClear ButtonHighlightBlue" onclick="Filter_Clear()">Очистить</button>
            </form>
        </div>
    </div>
</div>